# Make America Git Again

# Objectifs de l'examen

Les objectifs de cet atelier sont de manipuler Git sur un projet "fake" afin de mieux le comprendre.

La partie développement du projet sera délibérément triviale.

L'important est de se concentrer sur ses actions Git, sa méthodologie et ses décisions.

# Description du projet

Le projet est un site web basique, avec plusieurs pages.

Pas besoin de faire du CSS, mais si vous voulez vous pouvez, y compris utiliser une librairie type Bootstrap.

Le projet aura une landing page (index.html), avec des liens vers d'autres pages.

# Modalities

Le projet sera fait par équipe de 2 développeurs

Chaque équipe aura 1 repo sur Github, appartenant à l'un des développeurs de l'équipe.

Les autres développeurs devront être invités sur le projet.


# Livrables

Les livrables devront être déposés au plus tard le 07/01/2026 à 00:00 sur Mootse.

Les livrables seront constitués :

- d'un repo Git
- d'un document charté "Make America Git Again" expliquant les choix faits par l'équipe pour chaque step

# Steps

## Step 1 

Initialiser le projet git, inviter le / les coéquipiers.

Créer la landing page "Make America Git Again Project 2025".

Permettre à chaque coéquipier de cloner le repo en local.

## Step 2 

Pour la 1ère feature, on vous demande de créer une page qui clame "Git est génial" en français, et ajouter un lien vers cette page depuis la landing page.

Pas de release pour la production ne doit encore être faite.

Prenez les bonnes décisions :
- créer une branche pour cette feature ou pas ?
- si oui, où créer cette branche ?
- si oui, où merger cette branche ?

## Step 3 

Pour les features suivantes, on vous demande de :
- créer une page qui clame "Git est génial" en Anglais
- créer une page qui clame "Git est génial" en Espagnol
- créer une page qui clame "Git est génial" en Italien
- ajouter des liens vers ces pages sur votre landing page

Une release avec ces features est mise en production.

Prenez les bonnes décisions :
- créer des branches pour ces features ou pas ?
- si oui, où créer ces branches ?
- si oui, où merger ces branches ?
- comment matérialiser le fait qu'une release avec ces features est partie en production ?

## Step 4

Pour les features suivantes, on vous demande de :
- créer une page qui clame "Git est génial" en Portugais
- créer une page qui clame "Git est génial" en Allemand
- créer une page qui clame "Git est génial" en Polonais
- ajouter des liens vers ces pages sur votre landing page

Pour le moment aucune release avec ces features n'est mise en production.

## Step 5

Une correction urgente doit être faite sur la production ! (release faite au step 3)

Remplacer la page Italienne par une page Russe, et remplacer le lien sur la landing page landing page.

Prenez les bonnes décisions :
- comment créer un hotfix (d'où tirer la branche) ?
- où la merger ?
- comment matérialiser le fait qu'une release avec cette correction est mise en production ?

## Step 6

Alors que la release preparée au step 4 n'est toujours pas en production, on commence à travailler sur la release suivante.

Pour les features suivantes, on vous demande de :
- créer une page qui clame "Git est génial" en Hollandais
- ajouter un lien vers cette page sur votre landing page

## Step 7

Une amélioration indispensable sur la release preparée au step 4 doit être faire :
- créer une page qui clame "Git est génial" en Serbe
- ajouter un lien vers cette page sur votre landing page

Une release avec ces features est mise en production (mais sans la page en Hollandais donc).

## Step 8

Préparez une release pour la production avec la feature ajoutée au step 6 (la page en hollandais).